/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

.card {
  background-color: #EEEEEE;
  margin: 10px;
  padding: 10px;
}

.school-name {
  font-size: 18px;
  padding-top: 25px
}

.school-type {
  padding-bottom: 15px;
  font-size: 16px;
  color: gray;
}

.subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hr {
  margin-top: 20px;
}

.school-address {
  font-size: 16px;
  padding-bottom: 25px;
}

.filter-button {
  position: absolute;
  right: 10px;
}
